@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] UniCom</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-RXf+QSDCUQs6cD1vugFfC4IBhO6Ih31XAh2nD4jldC5k0Ekl7tqS1QXgBkT8CNuhxq+sOKF0RxM0TRGvZ7S5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_6.styles.css" asp-append-version="true" />
</head>

<body>
    @if (Context.Session.GetString("Username") == null)
    {

    <div style="text-align:center">
    <img src="~/img/unicom_logo_big.png" alt="UniCom Logo" style="width:300px; margin-top: 40px;" />
    </div>

    }

    @if (Context.Session.GetString("Username") != null)
    {
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
    <img src="~/img/unicom_logo_big.png" alt="UniCom Logo" style="height: 40px;">
    </a>

                <ul class="navbar-menu" id="navbarContent">
                    @{
                        var role = Context.Session.GetString("Role");
                    }

                    @if (role == "admin" || role == "superadmin")
                    {
                        @* <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Home">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Logout">Wyloguj się</a>
                        </li>
                    }

                    @if (role == "student")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Student" asp-action="MyInfo">Mój profil</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" asp-controller="Student" asp-action="CreateZgloszenie">Zgłosić</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Logout">Wyloguj się</a>
                        </li>

                         <li class="nav-item" style="margin-left: 40px;"><span class="notification-icon">
                <img src="~/img/notification-bell.png" style="width: 25px; height: 25px;" alt="Notification Bell"/>
                <div class="notification-tooltip" id="notificationTooltip">
                    <p>Szanowni Użytkownicy,<br><br>

Dnia 20.04.2025 w godzinach 00:00-3:00 zostanie przeprowadzona przerwa techniczna systemu UniCom. System w tym czasie będzie niedostępny.
<br><br>
<p><em>Dodano przez: Administrator <br>@DateTime.Now</em></p>
                    <button onclick="markAsRead()">Przeczytane</button>
                </div>
            </span>
</li>
                    }

                    @if (role == "secretariate")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Strona główna</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-link" asp-controller="Home" asp-action="Ogloszenia">Ogłoszenia</a>
                        </li>
                        <li class="nav-item" >
                           <a class="nav-link" asp-controller="Student" asp-action="CreateZgloszenie">Zgłosić</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Logout">Wyloguj się</a>
                        </li>
                    }


                </ul>
            </div>
        </nav>
    }

    <div style="width: 100vw;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


        <script>
        document.querySelector(".notification-icon").addEventListener("click", function (e) {
            e.preventDefault();
            const tooltip = document.getElementById("notificationTooltip");
            const iconRect = this.getBoundingClientRect();
            tooltip.style.top = `${iconRect.bottom + window.scrollY + 32}px`;
            tooltip.style.left = `${iconRect.left + window.scrollX - 180 }px`;
            tooltip.style.display = tooltip.style.display === "block" ? "none" : "block";
        });

        function markAsRead() {
            const tooltip = document.getElementById("notificationTooltip");
            tooltip.style.display = "none";
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
<style>
/*dla testowego tooltipa(do zmiany)*/
.notification-icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
        display: inline-block;

    }

    .notification-icon img {
        margin-top:3px;
        transition: opacity 0.2s;
    }

    .notification-icon:hover img {
        opacity: 0.7;
    }


    .notification-tooltip {
        display: none;
        position: fixed;
        background-color: #fdfdff;
        border: 1px solid #a6a6d6;
        border-radius: 4px;
        padding: 10px;
        width: 200px;
        color: #5f5fe8;
        font-size: 13px;
        z-index: 1001;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .notification-tooltip p {
        margin: 0 0 8px 0;
    }

    .notification-tooltip button {
        padding: 6px 10px;
        background-color: #5f5fe8;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
    }

    .notification-tooltip button:hover {
        background-color: #4c4ccc;
    }
</style>